---
layout: default
---
<section class="escuela-2018">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <br>
        <h2 class="text-center">Escuela da Incidencia Virtual 2019</h2>
        <p class="highlight text-center">Tem interesse em combater a violência, a corrupção e o discurso de ódio?<br>Te entregamos ferramentas que podem ajudar!  Se inscreva até 24 de março.</p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScWgi_OKi-DOkvlvxHM-AKCYAzikMpzP-Xx-BnoPLx-5sIBmg/viewform" class="btn btn-primary" target="_blank" onclick="ga('send','event','virtual-solicita','click')">Se inscreva aqui</a>
      </div>
    </div>
  </div>
</section>
<section>
</section>
<section class="faq">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="/assets/img/bar.svg">
        <h2>Preguntas frequentes</h2>
        <div class="badge-yellow">Sobre a Escuela da Incidencia Virtual</div>
        {% include faq01.html %}
      </div>
      <div class="col-md-12">
        <div class="badge-blue">Sobre as inscrições</div>
        {% include faq02.html %}
      </div>
      <div class="col-md-12">
        <div class="badge-yellow">Sobre a candidatura</div>
        {% include faq03.html %}
      </div>
      <div class="col-md-12">
        <div class="badge-blue">Sobre Ciudadanía Inteligente</div>
        {% include faq04.html %}
      </div>
      <div class="col-md-12">
        <br>
        <p class="highlight">
          Ainda com dúvidas sobre a Escola de Incidencia Virtual 2019 ou o processo de inscrição? Envie um email para <mark><a href="mailto:escuelavirtual@ciudadaniai.org" target="_top">escuelavirtual@ciudadaniai.org</a></mark> e nós responderemos o mais rápido possível!




</p>
      </div>
    </div>
  </div>
</section>
