<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="heading01">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapse01" aria-expanded="true" aria-controls="collapse01">
          O que é Escuela de Incidencia?
        </a>
      </h5>
    </div>
    <div id="collapse01" class="collapse show" role="tabpanel" aria-labelledby="heading01" data-parent="#accordion">
      <div class="card-body">
        A Escuela de Incidencia  é um projeto de treinamento da <mark><a href="//ciudadaniai.org/index-pt/" target="_blank">Fundación Ciudadanía Inteligente</a></mark>, que visa promover a liderança colaborativa e participativa de novas gerações, para alcançar mudanças sociais através de processos de defesa de políticas públicas. Transferimos a metodologia LabCívico para  que líderes emergentes possam catalisar processos de mudança social unindo sociedade civil, o governo e a academia.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading02">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse02" aria-expanded="false" aria-controls="collapse02">
          O que é a Escuela de Incidencia Virtual?
        </a>
      </h5>
    </div>
    <div id="collapse02" class="collapse" role="tabpanel" aria-labelledby="heading02" data-parent="#accordion">
      <div class="card-body">
          É a versão de e-learning (ensino não presencial) da Escuela de Incidencia. A Escuela de Incidencia Virtual aborda o mesmo conteúdo da sua versão presencial, adaptada ao formato de um curso de e-learning.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading03">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse03" aria-expanded="false" aria-controls="collapse03">
          O que é a metodologia LabCívico?
        </a>
      </h5>
    </div>
    <div id="collapse03" class="collapse" role="tabpanel" aria-labelledby="heading03" data-parent="#accordion">
      <div class="card-body">
O LabCívico é uma metodologia da Fundação Cidadania Inteligente que permite a elaboração de estratégias colaborativas para influenciar políticas públicas e, assim, alcançar mudanças sociais. Com esta metodologia procuramos responder a algumas questões: Como conceber soluções para problemas públicos a partir da colaboração? Como entender o problema e o contexto que queremos transformar? Como gerar planos de trabalho colaborativos para influenciar? Além disso, por meio de workshops presenciais, com a participação de agentes-chave de diversos setores, serão estabelecidos planos de defesa com o uso de ferramentas tecnológicas e de comunicação. 
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading04">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse04" aria-expanded="false" aria-controls="collapse04">
          Quando o curso começa e termina?
        </a>
      </h5>
    </div>
    <div id="collapse04" class="collapse" role="tabpanel" aria-labelledby="heading04" data-parent="#accordion">
      <div class="card-body">
        A Escuela de Incidencia Virtual dura quatro semanas, começando na segunda-feira, 4 de março, e terminando no domingo, 31 de março.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading05">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse05" aria-expanded="false" aria-controls="collapse05">
          Quanto tempo tenho para concluir o curso?
        </a>
      </h5>
    </div>
    <div id="collapse05" class="collapse" role="tabpanel" aria-labelledby="heading05" data-parent="#accordion">
      <div class="card-body">
        Você deve completar o curso dentro de suas quatro semanas. Quando a data de encerramento do curso (31 de março) chegar, as aulas não estarão mais disponíveis.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading06">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse06" aria-expanded="false" aria-controls="collapse06">
          O que acontece se eu não concluir o curso dentro do período estipulado?
        </a>
      </h5>
    </div>
    <div id="collapse06" class="collapse" role="tabpanel" aria-labelledby="heading06" data-parent="#accordion">
      <div class="card-body">
        Se você não conseguir concluir todas as aulas e fizer os testes do curso até 31 de março, você não estará qualificadx  para a certificação nem poderá concluir as aulas restantes após essa data.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading07">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse07" aria-expanded="false" aria-controls="collapse07">
          O curso ou certificação tem algum custo?
        </a>
      </h5>
    </div>
    <div id="collapse07" class="collapse" role="tabpanel" aria-labelledby="heading07" data-parent="#accordion">
      <div class="card-body">
        Tanto o curso quanto a certificação que  enviaremos, caso você antenda aos requesitos,  são totalmente gratuitos.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading08">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse08" aria-expanded="false" aria-controls="collapse08">
          Quais são os requisitos para participar?
        </a>
      </h5>
    </div>
    <div id="collapse08" class="collapse" role="tabpanel" aria-labelledby="heading08" data-parent="#accordion">
      <div class="card-body">
        Para participar da Escola Virtual de Advocacia, você deve se inscrever através do formulário que você encontrará no site da Escuela de Incidencia. Aqueles que obtiverem as melhores pontuações serão convocados para participar do curso.

        Além disso, aqueles que desejam participar devem concordar em cumprir nosso protocolo de conduta. Não aceitar o protocolo implica em não poder participar da Escola.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading09">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse09" aria-expanded="false" aria-controls="collapse09">
          Quanto tempo devo me comprometer a participar da Escola Virtual de Advocacia?
        </a>
      </h5>
    </div>
    <div id="collapse09" class="collapse" role="tabpanel" aria-labelledby="heading09" data-parent="#accordion">
      <div class="card-body">
        Um compromisso mínimo de 3 horas por semana durante quatro semanas é esperado para concluir o curso. Então, as pessoas que completarem o curso terão um período de quatro meses para realizar seu LabCívico.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading10">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
           ¿Qué certificados ofrece la Escuela de Incidencia Virtual?
        </a>
      </h5>
    </div>
    <div id="collapse10" class="collapse" role="tabpanel" aria-labelledby="heading10" data-parent="#accordion">
      <div class="card-body">
        La Escuela de Incidencia Virtual ofrece dos certificados: de participación, que acredita la aprobación del curso y de facilitador o facilitadora, que acredita la capacidad de la persona certificada de replicar la metodología LabCívico
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading11">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
           Quais são os requisitos para solicitar a certificação?
        </a>
      </h5>
    </div>
    <div id="collapse11" class="collapse" role="tabpanel" aria-labelledby="heading11" data-parent="#accordion">
      <div class="card-body">
        Para solicitar o certificado de participação você deve passar nos testes incluídos no curso, completar todas as suas aulas e completar todas as atividades.

        Para solicitar o certificado de facilitadxr, você deve obter o certificado de participação e, além disso, deve comprovar que realizou um LabCívico dentro de quatro meses após a conclusão do curso.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading12">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
           Como a Escola Virtual de Advocacia é financiada?
        </a>
      </h5>
    </div>
    <div id="collapse12" class="collapse" role="tabpanel" aria-labelledby="heading12" data-parent="#accordion">
      <div class="card-body">
        Este projeto é financiado pelo <mark><a href="//www.idrc.ca/" target="_blank">International Development Research Centre - IDRC</a></mark>, uma corporação dependente do Estado do Canadá que financia a pesquisa em países em desenvolvimento que promove a mudança social, o desenvolvimento econômico e a superação da pobreza.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="heading13">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
           A Escola de Advocacia foi feita antes?
        </a>
      </h5>
    </div>
    <div id="collapse13" class="collapse" role="tabpanel" aria-labelledby="heading13" data-parent="#accordion">
      <div class="card-body">
        Sim, a Escuela de Incidencia, em sua versão presencial, foi realizada em nove países ao longo de três anos. Até o momento, mais de 100 pessoas foram certificadas como facilitadoras e facilitadores do LabCívico. Este ano, a versão virtual da Escuela de Incidencia será realizada pela primeira vez.

        No entanto, durante o ano de 2018 foi realizado um piloto com 60 participantes, o que permitiu aperfeiçoar a transferência de conteúdos para esta versão.
      </div>
    </div>
  </div>
</div>
